@import model.Song
@import model.Playlist

@import model.Catalogue
@(playlist: Playlist, catalogueSongs: Seq[Song])

<table class="space">
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Song Artist</th>
      <th>Album</th>
      <th>Song Release Date</th>
    </tr>
  </thead>
  <tbody>
  @for(song <- catalogueSongs) {
    <tr class ="song">
      <td>
        <a href="/insert-song-to-playlist/@{playlist.id}/@{song.id}">@{song.title}</a>
      </td>
      <td>
      @{song.artistName}
      </td>
      <td>
      @{song.album}
      </td>
      <td>
      @{song.yearCreated}
      </td>
    </tr>
  }
  </tbody>
</table>