@import model.Song
@import model.Playlist

@import model.Catalogue
@(playlist: Playlist, catalogueSongs: Seq[Song])
@main("Select songs for your playlist"){
  <div id="project-wrapper">
    <div id="project-container">
      <div id="overlay"></div>
      <div id="content">
        <h2>Select songs for your playlist</h2>
        <h3>Choose wisely</h3>
        <h3>@playlist.name</h3>
        <div class="scrollbar" id="scrollbar-style">
          @components.add_song_table(playlist,catalogueSongs)
        </div>
        <a class="createPlaylistButton" href="/"> Return To Playlists</a>
      </div>
    </div>
  </div>
  <h1 id="signature">MG95</h1>
}