@import model.Song
@import model.Playlist

@import model.Catalogue
@(playlist: Playlist, catalogueSongs: Seq[Song])
@main("Select songs for your playlist"){
  <div id="project-wrapper">
    <div id="project-container">
      <div id="overlay"></div>
      <div id="content">
        <h2>Select songs for you playlist</h2>
        <h3>Choose wisely</h3>
        <h3>@playlist.name</h3>
        <div class="scrollbar">
        <table class="space">
          <thead>
            <tr>
              <th>Song Title</th>
              <th>Song Artist</th>
              <th>Album</th>
              <th>Song Release Date</th>
            </tr>
          </thead>
          <tbody>
          @for(song <- catalogueSongs) {
            <tr class ="song">
              <td>
                <a href="/insert-song-to-playlist/@{playlist.id}/@{song.id}">@{song.title}</a>
              </td>
              <td>
              @{song.album}
              </td>
              <td>
              @{song.artistName}
              </td>
              <td>
              @{song.yearCreated}
              </td>
            </tr>
          }
          </tbody>
        </table>
        </div>
        <a class="createPlaylistButton" href="/">|| Return To Playlists</a>
      </div>
    </div>
  </div>
  <h1 id="signature">MG95</h1>
}