@import model.Song
@import model.EmptyPlaylist
@import helper._

@(songs: Seq[Song], emptyPlaylistForm: Form[EmptyPlaylist])
@main("Create Playlist") {
  <div id="project-wrapper">
    <div id="project-container">
      <div id="overlay"></div>
      <div id="content">
        <h2>Create Your New playlist</h2>
        <h3>Make it yours!</h3>
        @helper.form(routes.MainController.createEmptyPlaylist) {
          <input type="text" id="name" name="name" value="">
          <button id="button" type="submit">Create Playlist</button>
        }
      </div>
      <div>
      </div>
    </div>
  </div>
  <h1 id="signature">MG95</h1>
}