@import model.Playlist

@(playlist: Playlist)

  @main("My music player") {
    <div id="project-wrapper">
      <div id="project-container">
        <div id="overlay">
        <div id="content">
          <h2>@{playlist.name}</h2>
          <h3>Click on the song you want to play.</h3>
          <div id="controls">
            <audio src="" controls id="audioPlayer">
              If you're reading this your browser does not support my player.
            </audio>
            <button onclick="window.location.href='/list-via-random/@{playlist.id}';"class="column active list__link "><i class="fa fa-random" aria-hidden="true"></i></button>
          </div>
          <div class="scrollbar" id="scrollbar-style">
            <div class="force-overflow">
          @components.song_table(playlist.songs)
            </div>
          </div>
          <a class="listViaSong" href="/list-via-song/@{playlist.id}">List By Song ||</a>
          <a class="listViaAlbum" href="/list-via-album/@{playlist.id}">|| List By Album ||</a>
          <a class="createPlaylistButton" href="/create-playlist-page">|| Create New Playlist ||</a>
          <a class="playlistList" href="/">|| All Playlist's</a>
        </div>
        <script>
                audioPlayer();
        </script>
        </div>
      </div>
    </div>
    <h1 id="signature">MG95</h1>
  }
